table,tr,th,td{
    border: 2px solid black;
     border-collapse: collapse; 
     padding: 10px;
     border-spacing: 5px;
}
th {
    background-color: coral;
}
td{
    background-color: cornflowerblue;
}
#heading{
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    background-color: cornflowerblue;
    color: black;
    text-decoration: underline;
    text-align: center;
    
}
#heading:hover{
   color: purple;
}
.lst{
    list-style-position:outside;
    padding: 10px;
    background-color: slategray;

}
.lu{
    padding: 10px;
    margin: 10px;
}